.HomePasge .container {
  width: 75%;
  margin: 20px auto;
}
body.LightOff .HomePasge header .content {
  .card {
    background: rgba(26, 39, 53, 1);
  }
  .header-page .content .title-header {
    background: rgba(26, 39, 53, 0.6);
    color: white;
  }
}
