.offer-inside .container {
  width: 75%;
  margin: 20px auto;
  .title {
    color: rgba(20, 58, 102, 1);
  }
}
body.LightOff .offer-inside .container {
  .card {
    background: rgba(26, 39, 53, 1);
  }

  .title {
    color: white;
    img {
      filter: invert(1);
      -webkit-filter: invert(1);
    }
  }
  .div {
    display: flex;
    max-width: 836px;
    flex-direction: column;
  }
  .div-2 {
    align-self: center;
    display: flex;
    margin-left: 43px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-3 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fdfdfd;
    align-self: start;
    display: flex;
    gap: 19px;
    font-size: 17px;
    color: var(--Primary-2-Pri-400, #004eaa);
    font-weight: 500;
    text-align: center;
    padding: 6px 9px 6px 39px;
  }
  @media (max-width: 991px) {
    .div-4 {
      padding-left: 20px;
    }
  }
  .div-5 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .img {
    aspect-ratio: 0.91;
    object-fit: auto;
    object-position: center;
    width: 20px;
  }
  .div-6 {
    display: flex;
    margin-top: 21px;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-7 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
    flex-grow: 1;
  }
  .div-8 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .div-9 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .div-10 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .div-11 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .div-12 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
    flex-grow: 1;
  }
  .div-13 {
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-13 {
      white-space: initial;
    }
  }
  .div-14 {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    font-size: 24px;
    color: var(--Primary-2-Pri-600, #143a66);
  }
  @media (max-width: 991px) {
    .div-14 {
      white-space: initial;
    }
  }
  .div-15 {
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
  }
  .img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
    align-self: start;
  }
  .div-16 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    align-self: center;
    margin-top: 30px;
    font: 20px Tajawal, sans-serif;
  }
  .div-17 {
    display: flex;
    margin-top: 9px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-18 {
    disply: flex;
    flex-direction: column;
    box-shadow: 0.1px 0px 15px 0px rgba(36, 161, 168, 0.2);
    overflow: hidden;
    align-self: end;
    position: relative;
    display: flex;
    aspect-ratio: 1;
    margin-top: 450px;
    width: 42px;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .div-18 {
      margin-top: 40px;
    }
  }
  .img-3 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-19 {
    position: relative;
    background-color: var(--Secondary-1-Sec-200, #c9f0f2);
    border-radius: 50%;
    height: 42px;
  }
  .div-20 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-20 {
      max-width: 100%;
    }
  }
  .div-21 {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-21 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-22 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 12px 0 50px;
  }
  @media (max-width: 991px) {
    .div-22 {
      white-space: initial;
    }
  }
  .div-23 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
    }
  }
  .div-24 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-24 {
      white-space: initial;
    }
  }
  .div-25 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-25 {
      white-space: initial;
    }
  }
  .div-26 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-26 {
      white-space: initial;
    }
  }
  .div-27 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-27 {
      white-space: initial;
    }
  }
  .div-28 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-28 {
      white-space: initial;
    }
  }
  .div-29 {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
    gap: 13px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-30 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-30 {
      white-space: initial;
    }
  }
  .div-31 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-31 {
      white-space: initial;
    }
  }
  .div-32 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-32 {
      white-space: initial;
    }
  }
  .div-33 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-33 {
      white-space: initial;
    }
  }
  .div-34 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-34 {
      white-space: initial;
    }
  }
  .div-35 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-35 {
      white-space: initial;
    }
  }
  .div-36 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-36 {
      white-space: initial;
    }
  }
  .div-37 {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
    gap: 13px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-38 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-38 {
      white-space: initial;
    }
  }
  .div-39 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-39 {
      white-space: initial;
    }
  }
  .div-40 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-40 {
      white-space: initial;
    }
  }
  .div-41 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-41 {
      white-space: initial;
    }
  }
  .div-42 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 12px 0 50px;
  }
  @media (max-width: 991px) {
    .div-42 {
      white-space: initial;
    }
  }
  .div-43 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-43 {
      white-space: initial;
    }
  }
  .div-44 {
    font-family: Outfit, sans-serif;
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    padding: 13px 0 50px;
  }
  @media (max-width: 991px) {
    .div-44 {
      white-space: initial;
    }
  }
  .div-45 {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
    gap: 13px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-45 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-46 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 13px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-46 {
      white-space: initial;
    }
  }
  .div-47 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 12px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-47 {
      white-space: initial;
    }
  }
  .div-48 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 13px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-48 {
      white-space: initial;
    }
  }
  .div-49 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 13px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-49 {
      white-space: initial;
    }
  }
  .div-50 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 13px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-50 {
      white-space: initial;
    }
  }
  .div-51 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 13px 5px 5px;
  }
  .div-52 {
    color: #000;
    font: 700 16px Outfit, sans-serif;
  }
  .div-53 {
    border-radius: 6px;
    background-color: var(--Secondary-1-Sec-400, #00b2ba);
    display: flex;
    margin-top: 22px;
    flex-direction: column;
    font-size: 11px;
    text-align: right;
    padding: 13px 15px;
  }
  .div-54 {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
    font-weight: 500;
  }
  .div-55 {
    color: #848484;
    leading-trim: both;
    text-edge: cap;
    font-family: Tajawal, sans-serif;
    font-weight: 400;
    margin-top: 12px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-55 {
      white-space: initial;
    }
  }
  .div-56 {
    border-radius: 10px;
    border: 0.5px solid #c2c2c2;
    background-color: #fff;
    flex-grow: 1;
    color: #000;
    white-space: nowrap;
    padding: 13px 0 50px;
    font: 700 16px Outfit, sans-serif;
  }
  @media (max-width: 991px) {
    .div-56 {
      white-space: initial;
    }
  }

}
